@import url("./grid.css");
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');

$main-font: 'Lato', sans-serif;
$title-font:'Merriweather Sans', sans-serif;
$main-color:#ed145b;
$sec-color:#5a5a5a;
$thd-color:white;
$page-color:#f4f4f4;
$main-size:0.9375em;
$title-size:2.375em;
$bold-size:1.625em;
$huge-size:2.875em;
$imp-text-size:1.375em;
$slider-color:#878787;
*{
	/* outline: red solid 1px; */
	margin:0;}
body{
	font-family:$main-font;
}
/* header navbar */
.header{
	background-image: url(./header-img.jpg);
	height: 800px;
	background-repeat: no-repeat;
 	background-size: cover;
	background-position: center;
	font-weight:700;
	z-index:0;
	position: relative;
}
.navbar{
	color:#fff;
	&__brand{
		float:left;
		margin-top: 40px;
		font-size:$bold-size;
		font-weight:900;
	}
	&__list{
		list-style:none;
		float:right;
		margin:0;
		margin-top: 40px;	
	}
}
.nav-item{
	display:inline-block;
	padding: 10px;
}
.nav-link{
	text-decoration:none;
	color: $thd-color;
}
.other-color{
	color:$main-color
}
/* header header-text */
.header__description{
	color:$thd-color;
	display: inline-block;
	margin-top: 280px;
}
.header__title{
	font-size:$huge-size;
	font-weight:300;
}
.header__title>h1{
	display: inline-block;
	font-weight:900;
}

.header__text{
	font-size:$imp-text-size;
	font-weight:300;
	margin-bottom: 70px;
}
.header-btn{
	background-color: $main-color;
	color:$thd-color;
	border:0;
	width: 200px;
	height: 50px;
	border-radius:50px;
	text-transform:uppercase;
	font-weight:700;
	font-size:$main-size;
}
.header-decoration{
	width: 100%;
	height: 40px;
	background-color: $main-color;
	z-index: -1;
	display: inline-block;
	position: absolute;
	transform:translateY(-30px) rotateZ(-1deg);
}
@media(max-width: 935px){
	.navbar__brand{
		margin:0 auto;
		float:none;
		
	}
	.navbar__list{
		float:none;
	}
	.nav-item{
		display: block;
		
	}
	.header__description{
		margin-top: 100px;
	}
	.header__text{
		display: none;
	}
	.line{
		display: none;
	}
	.header-btn{
		margin-top: 100px;
	}
}
/* laptop part */
.laptop{
	background-color: $page-color;
	height:650px;
}
.laptop-title{
	font-size:$title-size;
	font-weight:300;
	font-style:italic;
	margin-top: 150px;
}
.laptop-text{
	font-size:$main-size;
	font-weight:300;
	margin-bottom:50px;
}
.laptop-link__text{
	display: inline-block;
	text-transform:uppercase;
	font-size:$main-size;
}
.laptop-link{	
	color:$main-color;
}
.fa-play-circle-o{
	font-size:27px;
	transform:translateY(4px)
}
.laptop-img{
	margin-top: 110px;
	transform:translateX(-75px)
}
@media(min-width: 1023px)and (max-width: 2760px){
	.laptop{height: 1200px;}
	.laptop-container{
		margin: 0;
		text-align:center;
	}
	.laptop-img{transform:translateX(0)}
}
@media(min-width: 600px)and (max-width: 1023px){
	.laptop-img{display: none;}
	.laptop{height: 600px;}
}
@media(max-width: 599px){
	.laptop{height: 600px;}
	.laptop-img{display: none;}
	.laptop-container{
		margin: 0;
		text-align:center;
	}
}
/* services */
.services{
	height: 700px;
}
.services-title{
	font-size:$title-size;
	font-weight:300;
	font-style:italic;
	margin-top: 150px;
}
.services-text{
	text-size:$main-size;
	font-weight:300;
	margin-bottom: 95px;
}
@media(min-width: 768px)and (max-width: 2770px){
	.services{height: 770px;}
	.services-icon{margin-top:25px}
}
@media (max-width: 767px)  {
	.services{height: 1150px;}
	.services-container{margin: 0;}
	.services-icon{margin-top:25px}
}
/* slider  */
.slider{
	background-image: url(./slider-img.jpg);
	height: 500px;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slider .fa{
	font-size:52px;
	color: $slider-color;
	display: inline-block;
}
.fa-angle-left{
	flaot:left;
	transform:translate(-20px,234px)
}
.fa-angle-right{
	float:right;
	transform:translate(20px,234px)
}

.slider__content h1{
	font-size:9.875em;
	font-family: 'Merriweather Sans', sans-serif;
	color:$main-color;
	display: inline-block;
}
.slider__content p{
	font-size:1.5625em;
	color:$thd-color;
}
@media (min-width: 768px) and (max-width: 1199px) {
	.slider__content h1 {display: none;}
	.slider__content p{ transform:translateY(75%)}
}
@media (max-width: 767px) {
	.slider{display: none;}
}
/* prices*/
.prices{
	height: 1000px;
	background-color: $page-color;
	color:$sec-color;
}
.prices__text{
	display: inline-block;
	margin-top: 150px;
}
.prices__text-title{
	font-size:$title-size;
}
.prices__text-text{
	font-size:$main-size;
	margin-bottom: 95px;
}
/* offerts part */
.offert{
	margin: 0 15px;
	font-weight:700;
	&-top{
		height: 150px;
		background-color: $sec-color;
		color: $thd-color;
		font-size:$main-size;
		& > h2{
			display:inline-block;
			font-size:3.125em;
			margin-top: 30px;
		}
	}
	&-btn-mid{
		display: inline-block;
		text-transform:uppercase;
		height: 50px;
		width: 200px;
		font-size:$main-size;
		border:0;
		border-radius:50px;
		background-color: $page-color;
		transform:translateY(50%);
	}
	&-bottom{
		height: 315px;
		background-color: $thd-color;
		& ul{
			list-style: none;
			padding: 0;
			display: inline-block;
			margin-top: 65px;
			font-weight:300;
		}
		& li{
			margin-bottom: 25px;
		}
		& a {
			text-decoration:none;
		}
	}
	&-btn-bottom{
		display: inline-block;
		text-transform:uppercase;
		height: 50px;
		width: 200px;
		font-size:$main-size;
		border:0;
		border-radius:50px;
		color: $thd-color;
		background-color: $main-color;
		transform:translateY(-150%);
	}
}
.top-other{background-color: $main-color;}
@media(max-width: 1560px){
	.offert-btn-mid{width: 150px;}
	.offert-btn-bottom{width: 150px;}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.prices{height: 1500px;}
}
	
@media (max-width: 767px) { 
	.prices{height: 2700px;}
}
@media (max-width: 400px){
	.offert-btn-mid{width: 100px;}
	.offert-btn-bottom{width: 100px;}
}
/* icons */
.icons{
	height: 600px;
	
	& .row{
		margin-top: 150px;
	}
	& .col-4{
		margin-bottom: 90px;
	}
	&-title{
		display: inline-block;
		transform:translate(20px,-45px);
		color:$main-color;
		text-transform:uppercase;
	}
	&-text{
		transform:translate(80px,-35px);
		font-weight:300;
		line-height:25px;
	}
}
@media(max-width: 450px){
	.icons{
		height: 1900px;
		&-title{
			  float:right;
		}
	}
}
@media(min-width: 451px)and(max-width: 2000px){
	.icons{
		height: 1550px;
		& .col-4{
			text-align:center;
			width: 100%;
		}
		&-title{
			display: block;
			transform:translate(0,0)
		}
		&-text{
			display: block;
			transform:translate(0,0)
		}
		
	} 
}
/* join us */
.join{
	height: 200px;
	background-color: $main-color;
	&-text{
		font-size:$title-size;
		display: inline-block;
		font-weight:300;
		color: $thd-color;
		margin-top: 85px;
		& p{
			display: inline-block;
		}
		& h4{
			display: inline-block;
			font-weight:700;
		}
	}
	&-btn{
		border:0;
		border-radius:50px;
		height: 50px;
		width: 200px;
		font-size:$main-size;
		background-color: $thd-color;
		color: $main-color;
		font-weight:700;
		transform:translate(40px,-10px)
	}
}

@media(min-width: 768px)and (max-width: 1510px){
	.join-text{
		margin: 0;
		display: block;
	}
	.join-btn{
		margin-top: 35px;
		transform:translate(0,0)
	}
}
@media(max-width: 767px){
	.join{margin-bottom: 200px;}
	.join-text{display: none;}
	.join-btn{
		margin-top: 100px;
		transform:translate(0,-25px)
	}
}
/* updates text-section*/
.updates{
	height: 1450px;
	&__content{
		display: inline-block;
		margin-top: 150px;
		font-weight: 300;
	}
	&-title{
		font-size:$title-size;
		font-style:italic;
	}
	&-text{
		font-size:$main-size;
		margin-bottom: 90px;
	}
	&-bgc-color{
		background-color: $main-color;
		width: 360px;
		display: inline-block;
	}
}
.tabel-img-1{
	background-image: url(./updates-1.png);
}
.tabel-img-2{
	background-image: url(./updates-2.png);
}
.tabel-img-3{
	background-image: url(./updates-3.png);
	opacity: 0.2;
}
.tabel-img-4{
	background-image: url(./updates-4.png);
}
.tabel-img-5{
	background-image: url(./updates-5.png);
}
.tabel-img-6{
	background-image: url(./updates-6.png);
}
.updates__tabel-img{
	height: 250px;
	width: 360px;
	display: inline-block;
	background-color: $main-color;
	transition:0.55s;
}
.fa-search{
	font-size: 45px;
	color: $thd-color;
	display: inline-block;
	position: absolute;
	z-index:1;
	transform:translate(157.5px,102.5px);
	display: none;
}
/* updates tabel-section */
.updates__tabel{
	&-content{
	display: inline-block;
	width: 360px;
	height: 140px;
	background-color: $page-color;
	color: $sec-color;
	font-size:$main-size;
	}
	&-title{margin: 30px 0;}
	&-text{
		font-weight:300;
	}
	& .col-4{
		margin-top: 60px;
	}
}
/* update-hover */

.updates__tabel-img:hover img{
	visibility: hidden;
}
.updates__tabel-img:hover{
	opacity:0.1;
}
.updates-bgc-color:hover i{
	display: inline-block;
}
.search_active{
	display: inline-block;
}
.updates-other-bgc:hover{
	background-color: $sec-color;
}
@media(min-width:1200px)and(max-width:1850px){
	.updates{height: 2100px;}
	.updates .col-4{
		width: 50%;
	}
}
@media(max-width:1199px){
	.updates{height: 3400px;}
}
@media(max-width:550px){
	.updates{display: none;}
}
/* show */
.show{
	margin-top: 90px;
	color: $main-color;
}
.show h1{
	font-size:$main-size;
	text-transform:uppercase;
}
.show .fa{font-size:20px;}
/* emplate */
.template {
  background-image: url(./template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  font-weight: 300;
  color: white;
  line-height: 20px; }
  .template-container {
    display: inline-block; }
  .template-title {
    margin-top: 150px;
    font-style: italic;
    font-size: 2.375em; }
  .template-text {
    font-size: 0.9375em; }
  .template-btn {
    height: 50px;
    width: 200px;
    border: 0;
    border-radius: 50px;
    background-color: #ed145b;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 60px;
    display: inline-block; }

@media (max-width: 767px) {
  .template-title {
    margin-top: 0;
    line-height: 1.1875em; } }
@media (max-width: 400px) {
  .template {
    height: 800px; } }
/* screen_shot */
.screen_shot{
	height: 755px;
	& img{
		margin-top: 75px;
	}
	&__content{
		margin-top: 150px;
		font-weight: 300;
		color: $sec-color;
		font-size:$main-size;
	}
	&-title{
		font-style: italic;
		font-size:$title-size;
	}
	&-btn{
		background-color: $main-color;
		height: 50px;
		width: 200px;
		text-transform:uppercase;
		border:0;
		border-radius:50px;
		margin-top: 60px;
		color: $thd-color;
		line-height: 50px;
		font-weight: 700;
	}
}
@media(max-width:799px){ 
	.col-6{width: 100%;}
	.screen_shot {
		& img{
			display: none;
		}
		&-text{
			display: none;
		}
		& .container{
		text-align:center;
		}
		&-btn{
			display: inline-block;
		}
		& .line{
			display: block;
			width: 100%;
		}
	}
}
@media(min-width:800px)and (max-width:1199px){
	.screen_shot{height: 1400px;}
	.col-6{width: 100%;}
	.screen_shot .container{
		text-align:center;
		margin: 0;
	}
	.screen_shot-btn{display: inline-block;}
	.screen_shot__content{text-align:center;}
}
@media(min-width:1200px)and (max-width:2760px) {
	.screen_shot{height: 1400px;}
	.col-6{width: 100%;}
	.screen_shot .container{text-align:center}
	.screen_shot-btn{display: inline-block;}
	.screen_shot__content{text-align:center;}
}
/* footer */
.footer{
	height: 150px;
	background-color: #2b2b2b;
	color: $thd-color;
	text-transform:uppercase;
	&__copyright{
		float: left;
		margin-top: 65px;
	}
	&__designed{
		float: right;
		margin-top: 65px;
		& p{
			display: inline-block;
		}
	}
}
@media(max-width:780px){
	.footer{ 
		& .container{
			text-align:center;
		}
		&__copyright{
		float: none;
		display: inline-block;
		margin-top: 30px;
		}
		&__designed{
		float: none;
		margin-top: 30px;
		}
	}
}
@media(max-width:259px) {
	body{display: none;}
}